*~
*.swp
*.swap
*src/
*pkg/
*log/
!PKGBUILD
hib/*
main/*
testbed/*
*.log*
logpipe*

# Package sources, sigs, and packages themselves.
*.[xgb]z
*.bz2
*.sig

# GIT REPOS TO IGNORE
vcs/i3*-git/i3*/*
vcs/ii-hg/ii/*
vcs/cower-git/cower/*
vcs/luakit-git/luakit/*
vcs/mangle-git/mangle/*
vcs/ompload-git/omploader/*
vcs/pacman-git/pacman/*
vcs/ponymix-git/ponymix/*
vcs/systemd-git/systemd/*
vcs/znc-git/znc/*
kernel/acpi_call-git/acpi_call/*
kernel/linux-mainline/linux/*
!kernel/linux-mainline/config*
!kernel/linux-mainline/*.patch
